@use "../abstracts/" as *;

$skew: 0deg;
$duration: 300ms;

.card {
  position: relative;
  aspect-ratio: 8/13;
  padding: 2.5em 0;
  box-sizing: border-box;
  transition: all $duration;
  padding-bottom: 0.25em;
  border-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;

  &.visible::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: scale(0.8);
    background-color: var(--card-bg-color);
    outline: 2px solid var(--card-bg-color);
    outline-offset: 4px;
    filter: blur(0.25em);
    transition: all $duration;
    z-index: 0;
    opacity: 0;
  }

  &.visible::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--card-bg-color);
    transform: skewY($skew);
    z-index: 0;
  }

  &:hover {
    transform: scale(1.05);
    z-index: 1000;
    outline-offset: 4px;
    outline: 2px solid var(--card-bg-color);

    &::before {
      transform: scale(1.01);
      opacity: 1;
    }

    .tone {
      opacity: 0;
    }
  }

  :not(img) {
    position: relative;
    z-index: 3;
  }

  h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 0.25em;
    margin: 0;
    box-sizing: border-box;
    background-color: #222;
  }

  .img-shadow {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 2;
    transition: all 0ms;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   height: 50%;
    //   width: 100%;
    //   background: linear-gradient(transparent, black);
    // }
  }

  :global(img) {
    position: absolute;
    width: 100%;
    top: 0;
    height: calc(100%);
    object-fit: cover;
    z-index: 1;
    transform: skewY($skew);
  }

  .tone {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    opacity: 1;
    transition: all $duration;
    transform: rotate(180deg);
    background-color: var(--card-bg-color);
    -webkit-mask-image: url("../img/tone.png");
    mask-image: url("../img/tone.png");
    -webkit-mask-size: cover;
    mask-size: cover;
    filter: drop-shadow(2px 2px 5px black);
  }

  @include viewport-small {
    aspect-ratio: 3/1;

    &:hover {
      transform: scale(1);
    }

    .img-shadow {
      overflow: hidden;

      &::after {
        height: 100%;
      }
    }

    .tone {
      top: 0;
      width: unset;
      height: 100%;
      aspect-ratio: 1/1;
      transform: rotate(90deg);
    }
  }
}