@use "../abstracts" as *;

  section {
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 10005;
    background-color: rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    .card {
      position: relative;
      height: 80vh;
      max-width: calc(100% - 1em);
      aspect-ratio: 8/13;
      background-color: rgb(15, 15, 15);
      display: flex;
      overflow: auto;
      flex-direction: column;
      box-shadow: 0 0 2em var(--anime-color);
      outline: 2px solid var(--anime-color);
      outline-offset: 4px;
      border-radius: 1em;

      @include viewport-small {
        aspect-ratio: unset;
        width: calc(100% - 1em);
        height: calc(100% - 1em);
      }

      .content {
        background-color: #111;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1em;
        box-shadow: 0 0 1em #000;

        h2 {
          font-size: 2em;
          margin: 0;
          font-weight: 100;
          border-bottom: 1px solid white;
          
          a {
            color: white;
            text-decoration: none;
          }
        }

        .desc {
          max-height: 16em;
          overflow: auto;

          @include viewport-small {
            max-height: 12em;
          }  
        }

        .genres {
          font-size: 0.7em;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5em;
        }
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        height: 3em;
        aspect-ratio: 1/1;
        cursor: pointer;
        background-color: #111;
        border-bottom-left-radius: 50%;
        display: grid;
        place-items: center;

        > i {
          position: absolute;
        }
      }
    }


    :global(img) {
      position: absolute;
      inset: 0;
      z-index: 0;
    }

    :global(:not(img)) {
      position: relative;
      z-index: 2;
    }
  }