:root {
  --bg-color: #001220;

  --wave-1-h: 278;
  --wave-2-h: 274;
  --wave-3-h: 269;
  --wave-4-h: 265;
  --wave-5-h: 258;

  --wave-1-color: hsl(var(--wave-1-h), 94%, 70%);
  --wave-2-color: hsl(var(--wave-2-h), 81%, 64%);
  --wave-3-color: hsl(var(--wave-3-h), 71%, 57%);
  --wave-4-color: hsl(var(--wave-4-h), 64%, 52%);
  --wave-5-color: hsl(var(--wave-5-h), 69%, 46%);
}


html {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #f4f4f4;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	position: relative;
}

body::before, body::after {
	content: "";
	position: fixed;
	display: block;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background-size: cover;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}